---
- name: Create client directory structure
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: "0755"
  loop:
    - "{{ app_client_base_dir }}"
    - "{{ app_client_releases_dir }}"

- name: Create client web root
  file:
    path: "{{ app_client_web_root }}"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
