# Copy to hosts.yml — this file is gitignored
---
all:
  vars:
    env_name: shared
    ansible_user: deploy
    ansible_ssh_common_args: '-o StrictHostKeyChecking=accept-new'
    app_name: "imp"
    group_vault: "pw_vault"
    group_runner: "pw_runner"
    group_orchestrator: "pw_orchestrator"
  children:
    pw_vault:
      hosts:
        pw-vault:
          ansible_host: 10.0.x.x
    pw_runner:
      hosts:
        pw-runner:
          ansible_host: 10.0.x.x
    pw_orchestrator:
      hosts:
        pw-orchestrator:
          ansible_host: 10.0.x.x
