---
mysql_version: "8.0"
mysql_port: 3306
mysql_data_dir: /var/lib/mysql
mysql_ssl_dir: /etc/mysql/ssl
mysql_config_dir: /etc/mysql/mysql.conf.d
mysql_backup_dir: /opt/imp-db/backups
mysql_max_connections: 200
mysql_innodb_buffer_pool_size: "4G"

# Database names (all 13 IMP databases)
mysql_databases:
  - IMP_PROJECTS
  - IMP_PROGRAMS
  - IMP_LOCATIONS
  - IMP_USERS
  - IMP_MILESTONES
  - IMP_CAPITAL
  - IMP_ADMIN
  - IMP_REPORTING
  - IMP_ANALYTICS
  - IMP_IMPORTS
  - IMP_EXPORTS
  - IMP_FILES
  - IMP_NOTES

# Credentials from Vault (set via playbook vars)
mysql_root_password: ""
mysql_app_user: "imp_api_001"
mysql_app_password: ""
mysql_ssl_user: "imp_ssl_user"
mysql_ssl_password: ""

# Init flag
mysql_init_databases: false
